           header {
            background: #0e4a84;
            padding-left: 25px;
            padding-right: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
           }

            ul {
            list-style-type: none;
            padding: 0;  
            line-height: 2.1;
            }

            li {
            display: inline-block;
            margin-left: 16px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            }
            a:link,a:visited {
                color: white;
                text-decoration: none;
            }
            h1{
                text-align: center;
                margin-top:50px;
                margin-bottom: 50px;
                font-size: 40px;
            }
            .info {
                padding: 5px 8px;
                background-color: #0e4a84;
                opacity:0.8; 
                border-radius: 1px;
                color: #e4e4e4;
                position: absolute;
                display: none;
                top: 90px;
                left: 90px;
                border-radius: 5px;
            }

            .info-img:hover+.info{
                display: block;
            }

            table.txt-table{
                table-layout: fixed;
                width: 100%;
            }
            table thead tr{
                width: 100%
            }
            
            table{
                margin: 0 auto;
            }

            td {
                word-break: break-word;
                background-color:rgb(230, 242, 255);
                border-radius: 10px;
              } 

              
            th {
                background-color:#0e4a84;
                color: #ddd;
                border-radius: 5px;
              } 


            @media (min-width:1000px) and (max-width: 1650px) {
                table {
                  width: 990px;
                }
              }
              
            @media (min-width: 1650px) {
                table {
                  width: 75%;
                  
                }
              } 

            .bold{
                font-weight: bold;
            }
            .white{
                border-radius: 10px;
                width: 50%;
                background-color: white;
                border-style: hidden;

            }
            .whitetext{
                background-color: white;
                color: black;
                font-size: 15px;
            }
            .d1{
                background-color: white;
                border-radius: 10px;
                width:100%;
                background-color: white;
                border-style: hidden;
                float:left;
                height: 50px;
                
            }
            .d2{
               
                top: 30%;
                right: 30%;
                border-radius: 10px;
                width: 100%;
                background-color: white;
                border-style: hidden;
                float:left;
                height: 240px;
                margin-top: 2%;
                
            }
            #thick {
                display: inline;
                border-left: 3px solid blue;
                border-radius: 0%;
                padding-top: 8px;
                padding-bottom: 8px;
            }
            #thick2 {
                display: inline;
                border-left: 3px solid blue;
                border-radius: 10%;
                padding-top: 95px;
                padding-bottom: 95px;
            }